@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

body {
    background: #FFF;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

a {
    color: white;
    height: 400px;
}

.card-parent {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-parent:hover .text {
    opacity: 1;
    transition: opacity 0.8s;
}

.card-parent:hover .card-background {
    box-shadow: inset 100vh 4px rgba(0, 0, 0, 0.7);
}

.card-background {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
}

.text {
    opacity: 0;
    padding: 10px 15px;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.text .title {
    margin: 5px 0;
    font-size: 32px;
    font-weight: bold;
}

.text .subtitle {
    font-size: 14px;
}

@media (max-width: 1200px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 20px 0;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .text {
        opacity: 1;
    }

    .card-background {
        box-shadow: inset 100vh 4px rgba(0, 0, 0, 0.5);
    }
}