body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 99vh;
    width: 99vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    background-color: white;
    border-radius: 15px;
    z-index: 4;
    font-family: cursive;
}

h1 {
    margin-bottom: 20%;
}

.number {
    font-size: 5em;
}

button {
    width: 70%;
    height: 10%;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    background-color: #ffcc00;
    cursor: pointer;
}

select {
    margin: 0 0 3vh;
    font-size: 1.5em;
}


@media (max-width: 900px) {
    .content {
      width: 80vw;
    }

    select {
        display: none;
    }
}