@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

section.introduction {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.introduction .main-content {
    width: 100%;
    padding: 0 125px;
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.main-content .main-text {
    width: 100%;
    max-width: 1000px;
}

.main-content .main-text h1 {
    font-family: 'Francois One', sans-serif;
    color: #794E61;
}

.main-content .main-text h2 {
    font-size: 28px;
    color: #4b4b4b;
}

.main-content .main-text .google-play {
    margin-top: 40px;
    margin-left: -15px;
    height: 80px;
}

section.introduction .main-content .owl {
    width: 30vw;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    section.introduction .main-content {
        width: 100%;
        padding: 0 20px;
    }

    .main-content .main-text h1 {
        font-size: 3.2rem;
    }

    .main-content .main-text h2 {
        font-size: 18px;
        color: #4b4b4b;
    }

    .main-content .main-text .google-play {
        margin-top: 15px;
    }
}